{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set users_visible_permission = user_permissions.permissions.Users.visible == "1" or user.user_group_id == "1" %}
{% set users_create_permission = user_permissions.permissions.Users.create == "1" or user.user_group_id == "1" %}
{% set users_edit_permission = user_permissions.permissions.Users.edit == "1" or user.user_group_id == "1" %}
{% set users_delete_permission = user_permissions.permissions.Users.delete == "1" or user.user_group_id == "1" %}
<div class="container-fluid">
    {% if users_visible_permission %}
        {% if users_create_permission %}
            <div class="card mb-4">
                <div class="card-body p-4">
                    <h3 class="text-anton pb-2 text-uppercase">Add User</h3>
                    <hr class="hor-line-gradient"/>
                    <form id="user" method="post" onsubmit="return false;">
                        <div class="row">
                            <div class="col-12 col-lg mb-3 mb-lg">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                       placeholder="First Name">
                            </div>
                            <div class="col-12 col-lg mb-3 mb-lg">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                       placeholder="Last Name">
                            </div>
                            <div class="col-12 col-lg mb-3 mb-lg">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Email">
                            </div>
                            <div class="col-12 col-lg mb-3 mb-lg">
                                <label for="password">Password</label>
                                <input type="text" class="form-control" name="password" id="password"
                                       placeholder="Password">
                            </div>
                            <div class="col-12 col-lg mb-3 mb-lg">
                                <label for="userGroupId">User Group</label>
                                <select class="form-control" name="userGroupId" id="userGroupId">
                                    <option value="">Select User Group</option>
                                    {% for user_group in user_groups %}
                                        <option value="{{ user_group.id }}">{{ user_group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 mb-lg-0 col-12 col-lg">
                                <label class="d-none d-lg-block">&nbsp;</label>
                                <button type="submit" class="btn btn-soft-green w-100 btn-text-lg"
                                        onclick="addUser()">
                                    Add
                                </button>
                            </div>
                        </div>
                        {{ "user" | formToken }}
                    </form>
                </div>
            </div>
        {% endif %}
        <div class="card my-2">
            <div class="card-body p-4">
                <h3 class="text-anton pb-2 text-uppercase">Users</h3>
                <hr class="hor-line-gradient"/>
                <div class="content" style="height: fit-content">
                    <div class="table-responsive">
                        <table id="users-grid" class="table text-black m-0" style="width: 100%">
                            <thead>
                            <!-- table details filled in completely by data tables -->
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="message"></div>
        <div id="form"></div>
    {% endif %}
</div>
{% if users_visible_permission %}
    <script>
        if (typeof usersGrid === 'undefined') {
            let usersGrid;
        }

        usersGrid = null;

        if (typeof message === 'undefined') {
            let message;
        }

        message = $("#message");

        {% if users_create_permission %}
        /**
         * Function to add a user.
         */
        function addUser() {
            if (document.forms[0].firstName.value === "") {
                message.html(`<div class="alert alert-danger">First Name is required</div>`);
                document.forms[0].firstName.focus();

                return;
            }

            if (document.forms[0].lastName.value === "") {
                message.html(`<div class="alert alert-danger">Last Name is required</div>`);
                document.forms[0].lastName.focus();

                return;
            }

            if (document.forms[0].email.value === "") {
                message.html(`<div class="alert alert-danger">Email is required</div>`);
                document.forms[0].email.focus();

                return;
            }

            if (document.forms[0].password.value === "") {
                message.html(`<div class="alert alert-danger">Password is required</div>`);
                document.forms[0].password.focus();

                return;
            }

            if (document.forms[0].userGroupId.value === "") {
                message.html(`<div class="alert alert-danger">User Group is required</div>`);
                document.forms[0].userGroupId.focus();

                return;
            }

            message.html(`<div class="text-center" style="position: absolute; width: 100vw; height: 100vh; z-index: 200;"><h5 class="text-anton text-black pb-2">Adding ...</h5><div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
                        <span class="sr-only text-black">Adding ...</span>
                    </div></div>`)

            submitForm("user", "/api/users", "", function () {
                document.forms[0].firstName.value = "";
                document.forms[0].lastName.value = "";
                document.forms[0].email.value = "";
                document.forms[0].password.value = "";
                document.forms[0].userGroupId.value = "";

                usersGrid.ajax.reload();

                message.html(``);
            });
        }
        {% endif %}

        $(document).ready(function () {
            usersGrid = $("#users-grid").DataTable({
                dom: "",
                ajax: "/api/users",
                columns: [
                    {
                        "title": "ID",
                        "data": "id",
                        "visible": false
                    },
                    {
                        "title": "First Name",
                        "data": "first_name"
                    },
                    {
                        "title": "Last Name",
                        "data": "last_name"
                    },
                    {
                        "title": "Email",
                        "data": "email"
                    },
                    {
                        "title": "Date Created",
                        "data": "date_created"
                    },
                    {
                        "title": "User Group",
                        "data": "user_group_id",
                        "orderable": false,
                        "render": function (data, type, row) {
                            const userGroups = {{ user_groups|tojson|safe }};
                            if (userGroups !== undefined) {
                                return userGroups.find(userGroup => userGroup.id === data).name;
                            }
                            return data;
                        }
                    },
                    {
                        "title": "Status",
                        "data": "is_active",
                        "orderable": false,
                        "render": function (data, type, row) {
                            return data === 1 ? "Active" : "Inactive";
                        }
                    },
                    {
                        "title": "Actions",
                        "orderable": false,
                        "render": function (data, type, row) {
                            let actions = "";

                            {% if users_edit_permission %}
                            actions += ` <a class="btn btn-outline-light text-black" href="#" onclick="editUser(${row.id})"><i class="fas fa-edit"></i></a>`
                            {% endif %}

                            {% if users_delete_permission %}
                            actions += ` <a class="btn btn-outline-light text-black" href="#" onclick="deleteUser(${row.id})"><i class="fas fa-trash"></i></a>`
                            {% endif %}

                            return actions
                        }
                    }
                ],
                language: {
                    emptyTable: `{% include ("snippets/datatable_empty.twig") %}`
                },
                processing: true,
                serverSide: true
            });
        });

        {% if users_edit_permission %}
        /**
         * Function to edit a user.
         * @param id
         */
        function editUser(id) {
            showForm("edit", `/api/users/${id}?formToken={{ formToken() }}`)
        }
        {% endif %}

        {% if users_delete_permission %}
        /**
         * Function to delete a user.
         * @param id
         */
        function deleteUser(id) {
            if (confirm("Delete User?")) {
                deleteUrl(`/api/users/${id}`, null, "message");
            }
        }
        {% endif %}
    </script>
{% endif %}