{% extends "base.twig" %}

{% block content_public %}
    <div class="page-container row m-0">
        {% include "snippets/form_side_graphic.twig" %}

        <div class="col-md-6 p-0 d-flex flex-column justify-content-center align-items-center bg-white text-black">
            <div class="p-3" style="max-width: 500px;">
                {% set signup_header_class = "signup-header-full" if not pricing_data or payment_required == "0" else "signup-header" %}

                <div class="{{ signup_header_class }}">
                    <div>
                        <h1 class="text-anton">SIGN UP</h1>
                        <p>Already have an account? <a href="/login" class="link">Log in</a></p>
                    </div>

                    {% if pricing_data and payment_required == "1" %}
                        <div class="discount">
                            <div class="discount-badge">
                                <div class="percentage">{{ pricing_data.discount_percent }}%</div>
                                <div class="text">OFF</div>
                            </div>
                            <div class="discount-prices">
                                <div class="full-price"><s>${{ pricing_data.unit_amount }}</s></div>
                                <div class="discount-price p-0">${{ pricing_data.discounted_total }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <form id="signUpForm" onsubmit="return false;">
                    <div class="form-group">
                        <label for="first_name">First name</label>
                        <input class="form-control" type="text" name="first_name" id="first_name"
                               placeholder="First name" value="" autocomplete="given-name"/>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last name</label>
                        <input class="form-control" type="text" name="last_name" id="last_name"
                               placeholder="Last name" value="" autocomplete="family-name"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Email"
                               value="" autocomplete="email"/>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label for="password">Password</label>
                            <button class="btn border-0 bg-transparent text-black" type="button"
                                    id="passwordVisibility">
                                <i class="fa-solid fa-eye-slash text-granite-gray"></i>
                                <span id="passwordVisibilityPrompt"> Hide</span>
                            </button>
                        </div>
                        <input class="form-control" type="text" name="password" id="password" placeholder="Password"
                               value="" autocomplete="off"/>
                        <small class="form-text text-black">
                            Use 8 or more characters with a mix of letters, numbers & symbols
                        </small>
                    </div>

                    <div class="form-check form-check-inline mb-3">
                        <input type="checkbox" name="is_minor" id="is_minor" value="">
                        <label class="form-check-label" for="is_minor">
                            I am under 18. My guardian consents to me signing up
                        </label>
                    </div>

                    <p>
                        By creating an account you agree to our<br/>
                        <a href="#" class="link" target="_blank">Terms of use</a> and
                        <a href="#" class="link" target="_blank">Privacy Policy</a>
                    </p>

                    <div class="g-recaptcha mt-5" data-callback="recaptchaChecked"
                         data-expired-callback="recaptchaExpired" data-sitekey="{{ recaptcha_site_key }}">
                    </div>
                    <br/>

                    <input id="confirmation_hash" type="hidden" name="confirmation_hash" value=""/>
                    <input id="payment_required" type="hidden" name="payment_required" value=""/>

                    <button class="login-signup-button btn btn-lg" title="Create an Account"
                            onclick="signUp()" disabled>
                        Create an Account
                        <i class="progress-spinner fa fa-spinner fa-spin ml-3"></i>
                    </button>
                    <p class="pt-1">Already have an account?
                        <a href="/login" class="link">Log in</a>
                    </p>
                    {{ "signUpForm" | formToken }}
                </form>

                <div id="message"></div>
            </div>
        </div>
    </div>

    <script>
        $(".progress-spinner").hide();

        const isMinor = $("#is_minor");

        isMinor.on("change", function () {
            if (isMinor.is(":checked")) {
                isMinor.val("1")
            } else {
                isMinor.val("0")
            }
        });

        function recaptchaChecked() {
            $(".login-signup-button").removeAttr('disabled');
        }

        function recaptchaExpired() {
            $(".login-signup-button").attr('disabled', true);
        }

        $.validator.addMethod("nameRegex", function (value) {
            const lastNameRegex = new RegExp("^[a-zA-Z\-\ ]+$");

            return lastNameRegex.test(value);
        }, "Only letters, spaces or hyphens are allowed");

        $.validator.addMethod("passwordRegex", function (value) {
            const passwordRegex = new RegExp("^(?=.*[a-z])(?=.*[0-9])(?=.*[!-\/:-@[-`{-~])[a-zA-Z0-9!-\/:-@[-`{-~]+$");

            return passwordRegex.test(value) && value.length >= 8;
        }, "Password must be at least 8 characters long and include a mix of letters, numbers & symbols");

        $("#signUpForm").validate({
            rules: {
                first_name: {
                    required: true,
                    nameRegex: true
                },
                last_name: {
                    required: true,
                    nameRegex: true
                },
                email: {
                    required: true
                },
                password: {
                    required: true,
                    passwordRegex: true
                }
            }
        });

        function signUp() {
            if ($("#signUpForm").valid()) {
                $(".progress-spinner").show();

                const trimInputArray = ["first_name", "last_name", "email", "password"];

                trimInput(trimInputArray);
                saveForm("signUpForm", "/sign_up?formToken={{ formToken() }}");
            }
        }

        $(document).ready(function () {
            document.cookie = "PY_SESS=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

            const params = new window.URLSearchParams(window.location.search);

            if ("{{ confirmation_hash }}") {
                $("#confirmation_hash").val("{{ confirmation_hash }}");
            }

            if ("{{ payment_required }}") {
                $("#payment_required").val("{{ payment_required }}");
            }

            if (params.get("email")) {
                const emailInput = $("#email");

                emailInput.val(params.get("email"));
                emailInput.attr("readonly", "true");
            }

            $("#passwordVisibility").on("click", function () {
                togglePasswordVisibility();

                const prompt = $("#passwordVisibilityPrompt");

                if (prompt.text().trim() === "Hide") {
                    prompt.text("Show");
                    $("#passwordVisibility i").removeClass("fa-eye-slash").addClass("fa-eye");
                } else {
                    prompt.text("Hide");
                    $("#passwordVisibility i").removeClass("fa-eye").addClass("fa-eye-slash");
                }
            });
        });
    </script>
{% endblock %}