<div class="row" >
    <div class="col-4">
        <h5 class="text-anton text-maastricht-blue pb-2">Submit for {{ player.first_name }} {{ player.last_name }} <button class="btn btn-soft-green " style="float: right" onclick="submitPlayerText()"> Submit </button></h5>
    </div>
    <div class="col">
        <ul class="nav nav-tabs">
            <h5 class="text-anton text-maastricht-blue pb-2 p-2">Player Q Results</h5>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#" onclick="showResultTab('player-report')">Player</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" onclick="showResultTab('coach-report')">Coach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#" onclick="showResultTab('scout-report')">Scout</a>
            </li>
        </ul>
    </div>
</div>
<div class="row ">
    <div class="col-4">
        <form id="text-submit">
            <textarea id="playerText" name="playerText" class="form-control mt-2" rows="20" placeholder="Text to submit" onkeyup="$('#wordCount').html(countWords('playerText'))">{{ text }}</textarea>
            <b>Word Count:</b> <span id="wordCount">0</span>
        </form>
    </div>
    <div class="col">
        <div id="player-report" class="pt-1 pb-3 px-1 result-tab">{{ results.player }}</div>
        <div id="coach-report" class="pt-1 pb-3 px-1 result-tab">{{ results.coach }}</div>
        <div id="scout-report" class="pt-1 pb-3 px-1 result-tab">{{ results.scout }}</div>
    </div>
</div>
<script>
    function showResultTab(tabName) {
        $(".result-tab").hide();
        $("#" + tabName).show();
    }

    showResultTab("player-report");

    function countWords(input) {
        // Get the input text value
        let text = document.getElementById(input).value;

        // Initialize the word counter
        let numWords = 0;

        for (let i = 0; i < text.length; i++) {
            let currentCharacter = text[i];

            // Check if the character is a space
            if (currentCharacter == " ") {
                numWords += 1;
            }
        }
        numWords += 1;
        return numWords;
    }

    $('#wordCount').html(countWords('playerText'));

    function submitPlayerText() {
        submitForm("text-submit", "/api/athletes/{{ player.id }}/results", "",  function(data) {
            loadPage('/api/athletes/{{ player.id }}/results', 'tabPlayerQ')
        });
    }

</script>



