<div class="content container-fluid">
    <div class="justify-content-center">
        <div class="mx-auto" style="max-width: 1000px; width: 100%;">
            <div class="progress progress-qfinder rounded-pill my-2">
                <div class="progress-bar progress-bar-qfinder font-weight-bold" role="progressbar"
                     style="width: {{ ((videos_processed / (remaining_videos + videos_processed)) * 100)|round }}%"
                     aria-valuenow="{{ videos_processed }}" aria-valuemin="0"
                     aria-valuemax="{{ remaining_videos + videos_processed }}">{{ videos_processed }}
                    of {{ remaining_videos + videos_processed }}</div>
            </div>
            <h3 class="text-center mt-5 mb-4">{{ video.title }}</h3>
            <div class="embed-responsive embed-responsive-16by9 card border-0">
                <iframe width="420" height="315"
                        src="{% if video %}{{ video.url.replace("watch?v=", "embed/") }}{% endif %}?rel=0">
                </iframe>

            </div>
            <div>
                {% if video %}
                    <a href="{{ video.url }}" class="d-block text-center w-100 py-1 mt-3" target="_blank">Click here to watch
                        the video directly on YouTube if it does not display in the frame above.</a>
                {% endif %}
                <form id="videoInformation" method="post" onsubmit="return false">
                    {{ ("SomeValue"~RANDOM()) | formToken }}
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <input type="hidden" name="player_media_id" value="{{ video.id }}">
                    <input id="is_valid" type="hidden" name="is_valid" value="0">
                    <br>
                    <div class="row align-items-center">
                        <div class="col-6 col-md-2 order-1 order-md-0">
                            <button class="btn btn-danger w-100 text-uppercase btn-text-lg py-2"
                                    onclick="document.getElementById('is_valid').value = 0;  updateVideo()">
                                <i class="fa fa-times-circle"></i> NO
                            </button>
                        </div>
                        <div class="col-12 col-md-8 order-0 order-md-1">
                            <p class="text-center font-weight-bold mb-3 mb-md-0" style="font-size: 20px;">Video contains audio
                                of {{ player.first_name }} {{ player.last_name }} speaking?
                                <br/>Would you like to transcribe the video?</p>
                        </div>
                        <div class="col-6 col-md-2 order-2 order-md-2">
                            <button class="btn btn-success w-100 text-uppercase btn-text-lg py-2"
                                    onclick="document.getElementById('is_valid').value = 1; updateVideo()">
                                <i class="fa fa-check-circle"></i> Yes
                            </button>
                        </div>
                    </div>
                    {{ "videoInformationForm"~RANDOM() | formToken }}
                </form>
            </div>
            <script>
                function updateVideo() {
                    submitForm("videoInformation", "/api/athlete/{{ player.id }}/videos", "tabVideos");
                }
            </script>
        </div>
    </div>
</div>
