{% set user = request.session.get("user") %}
{% set user_permissions = request.session.get("user_permissions") %}
{% set videos_visible_permission = user_permissions.permissions.Videos.visible == "1" or user.user_group_id == "1" %}
{% set videos_edit_permission = user_permissions.permissions.Videos.edit == "1" or user.user_group_id == "1" %}
{% set videos_delete_permission = user_permissions.permissions.Videos.delete == "1" or user.user_group_id == "1" %}
{% if videos %}
    {% for video in videos %}
        {% set borderColor = "border-dark bg-lighter" %}
        {% if video.transcript_verified %}
            {% set borderColor = "border-success bg-success-light" %}
        {% endif %}
        <div class="mb-3" id="video_{{ video.id }}">
            <div class="card card-body p-3 rounded-lg {{ borderColor }}" style="border-width: 2px;">
                <div class="row">
                    <div class="col-4">
{#                        <div class="embed-responsive embed-responsive-16by9 rounded-lg">#}
{#                            <iframe width="420" height="315"#}
{#                                    src="{% if video %}{{ video.url.replace("watch?v=", "embed/") }}{% endif %}">#}
{#                            </iframe>#}
{#                        </div>#}
                    </div>
                    <div class="col-8" style="font-size: 13px;">
                        <div class="row mb-2">
                            <p class="font-weight-bold col-10 py-1" style="font-size: 14px;">
                                <a role="button" onclick="loadTranscript({{ video.id }})">
                                    {{ video.title }} - {{ video.published_at }}
                                </a>
                            </p>
                            <div class="col-2 p-0">
                                <button type="button" class="btn btn-outline-dark" onclick="loadTranscript({{ video.id }})">View</button>
                            </div>
                        </div>
                        {% if videos_edit_permission %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       id="include_{{ video.id }}"
                                       onclick="toggleIncludeVideo({{ video.id }})"
                                       {% if video.is_valid %}checked{% endif %}>
                                <label class="custom-control-label"
                                       for="include_{{ video.id }}">
                                    Include this video transcript in the results?
                                </label>
                            </div>
                        {% endif %}
                        <div class="row py-2">
                            {% if videos_edit_permission %}
                                {% if not video.transcript %}
                                    <div class="col-6">

                                        <a role="button" onclick="addToQueue({{ video.id }})">
                                            <i class="fa fa-plus-square text-primary mr-1"
                                               style="font-size: 18px;"></i> Transcribe
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if videos_delete_permission %}
                                <div class="col-6">
                                    <a role="button" onclick="removeVideo({{ video.id }})">
                                        <i class="fa fa-minus-square mr-1"
                                           style="color: orangered; font-size: 18px;"></i> Remove
                                        Video
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{{ video.url }}" target="_blank"
                           class="w-full text-center text-black "><u>View
                                on
                                YouTube <i class="fa-solid fa-up-right-from-square"></i></u></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">No videos available</div>
{% endif %}
