{% if video %}
    {% set user = request.session.get("user") %}
    {% set user_permissions = request.session.get("user_permissions") %}
    {% set videos_edit_permission = user_permissions.permissions.Videos.edit == "1" or user.user_group_id == "1" %}
    <h3 class="text-anton pb-2 text-uppercase text-nowrap text-truncate">Video Transcript
        - {{ video.title }}</h3>

    {% if transcripts %}

        {% set nsa = namespace(speaker_array = []) %}

        {% for transcript in transcripts %}
            {% for transcription in transcript.data.transcription %}
                {% do nsa.speaker_array.append(transcription["speaker"]) %}
            {% endfor %}
        {% endfor %}
        {% set selectedSpeaker = "SPEAKER00" %}
        {% set userVerified = "" %}
        {% if transcripts|length == 1 %}
            {% set selectedSpeaker = transcripts[0].selected_speaker %}
            {% set userVerified = transcripts[0].verified_user_id %}
        {% endif %}
        {% if videos_edit_permission %}
            <form id="speaker_form" class="d-flex align-items-center mb-2" style="grid-gap: 1rem;">
                <div class="form-group form-inline mb-0">
                    <label for="select_speaker" class="font-weight-bold mr-2">Select Speaker as Player:</label>
                    <select id="select_speaker" class="form-control" onchange="showHideTranscript(this.value, 1)"
                            {% if userVerified %}disabled{% endif %}>
                        <option value="ALL">Show All</option>
                        {% for speaker_array in nsa.speaker_array | unique %}
                            {% if speaker_array %}
                                <option value="{{ speaker_array }}"
                                        {% if speaker_array == selectedSpeaker %}selected{% endif %}>
                                    {{ speaker_array }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-check mb-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               name="verified_user_id"
                               id="user_verification"
                               value="{{ user.id }}"
                               {% if userVerified %}checked{% endif %}
                               onclick="submitUserVerification({{ transcripts[0].id }}, {{ video.id }})">
                        <label class="custom-control-label d-flex flex-column align-items-start"
                               for="user_verification">
                            <span class="d-block">Verified by User</span>
                            <small class="d-block w-100">Clicking this confirms you have verified this speaker.</small>
                        </label>
                    </div>
                </div>
                {{ ("videoSpeakerVerified"~RANDOM()) | formToken }}
            </form>
        {% endif %}
        <div class="bg-lighter p-4 rounded border mb-4" style="overflow: auto; height: 60vh">
            {% for transcript in transcripts %}
                {% for speaker in transcript.data.transcription %}

                    {% if speaker["text"] %}
                        <div class="{{ speaker["speaker"] }} speaker">
                            <b>{{ speaker["speaker"] }}</b>: {{ speaker["text"] }}</div>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
        {% if showClassification %}
            <h3 class="pb-2 text-uppercase">Classification</h3>
            <div class="bg-lighter p-4 rounded border">
                <div id="videoClassification" style="overflow: hidden; height: 50vh; overflow-y: auto;">
                </div>
            </div>
        {% endif %}
            {% if videos_edit_permission %}
                <script>
                    function showHideTranscript(speakerName, refresh) {
                        if (speakerName === "ALL") {
                            $('.speaker').show();
                        } else {
                            $('.speaker').hide();
                            $('.' + speakerName).show();
                        }

                        doClassification(speakerName, refresh);
                    }

                    showHideTranscript("{{ selectedSpeaker }}", 0);

                    {% if showClassification %}
                    function doClassification(speakerName, refresh) {
                        if (refresh === undefined) refresh = 0;

                        $('#videoClassification').html(`<div class="text-center"><h5 class="text-anton text-black pb-2">Processing ...</h5><div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
                    <span class="sr-only text-black">Loading...</span>
                </div></div>`)

                        loadPage(`/api/athlete/{{ player.id }}/transcripts/{{ transcripts[0].player_media_id }}/classification?refresh=${refresh}&selected_speaker=${speakerName}`, 'videoClassification');
                    }
                    {% endif %}
                </script>
            {% endif %}
        {% endif %}
    {% else %}
        <p class="alert alert-warning py-2">No transcript data available yet, or an error occurred transcribing the
            video.</p>
    {% endif %}
{% else %}
    <h5 class="text-anton text-black pb-2">Video Transcript - None</h5>
    <button class="btn btn-soft-green" onclick="loadPage('/api/athlete/{{ player.id }}/videos?search=1', 'tabVideos')">
        Find Videos
    </button>
{% endif %}

<div style="display:none"> {{ RANDOM()~"ID" }} </div>
