<div>
    <p>Permissions</p>
    <a class="small" href="#" onclick="selectAll()">Select All</a> |
    <a class="small" href="#" onclick="selectNone()">Select None</a>
    <table class="table w-100 mt-3">
        <thead>
        <tr>
            <th class="px-0">Category</th>
            {% for header in roles.headers %}
                <th class="text-center px-0">{{ header|capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for role in roles.access_list %}
            <tr class="roles-record">
                <td class="px-0">{{ role.access_point }}</td>
                {% for permission in role.permissions %}
                    <td class="text-center px-0">
                        {% set role_permission = role.permissions[permission] %}
                        {% if role_permission != "-" %}
                            {% set checked = "" if role_permission == "0" else "checked" %}
                            <input class="form-check-input m-0" type="checkbox" id="checkboxNoLabel" {{ checked }}
                                   name="{{ role.access_point }}_{{ permission }}"/>
                        {% else %}
                            <input class="text-center border-0" size="1" maxlength="1"
                                   name="{{ role.access_point }}_{{ permission }}"
                                   value="{{ role_permission }}"/>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>